body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.container {
    display: grid;
    background-color: black;
    padding: 3px;
    gap:3px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: 
    'item1 item1 item1'
    'item2 item3 item3'
    'item2 item4 item5 '
    'item2 item6 item6 ';
}

.item{
    background-color: rgba(217, 246, 248, 0.8);
    padding: 10px;
    display: flex;
    justify-content: center;
}

.item1 {
     grid-area: item1;
}
.item2{
     grid-area: item2;
}
.item3 {
    grid-area:item3;
}
.item4 {
     grid-area:item4;
}
.item5 {
     grid-area:item5;
}
.item6{
     grid-area: item6;
}