body{
    background: black;
}
div{
    background: white;
    margin-top: 5px;
    padding: 10px;
    border-radius: 10px;
    font-family: sans-serif
    
}
button{
    border-radius: 25px; 
    padding: 10px; 
    border: none;
}
.btn-teal{
    background: teal;
    font-size: 12px;
    color: white;
}
.btn-orange{
    background: orange; 
}
.btn-purple{
    background: purple;
    font-size: 12px;
    color: white;
}



   
